{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <title>IET blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">IET Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi this is a website</p>
        </div>

        <div>
            <p>published: 14.03.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is our first website</p>
        </div>
    </body>
</html>
