<html>
<head>
	<title>LB's Blog</title>
</head>
<body>
          <div> 
          	 <h1>2019 Pulwama attack</h1>
          </div>

          <div>
          	<p><i>
          		Hello, We are students of IET Lucknow. We have built this page exclusively for blog on Pulwama attack.
          	   </i>
          	</p>
          </div>

          <div>
          	<h3><a href="https://lifestyle-tech-experience.blogspot.com/2019/02/the-most-controversial-topic.html?m=1">The Controversial Topic.....</a></h3>
            <p><i>
            	This blog is about the game PUBG, how it effects life of students specially thoe who live in hostels where there is no parental guidance, no restrictions. 
               </i>
            </p>
          </div>

          <div>
          	<h3><a href="https://lifestyle-tech-experience.blogspot.com/2019/02/stop-comparing.html?m=1">STOP COMPARING...........</a></h3>
          	<p><i>
          		
          	   </i>
          	</p>On 14 February 2019, a convoy of vehicles carrying security personnel on the Jammu Srinagar National Highway was attacked by a vehicle-borne suicide bomber at Lethpora (near Awantipora) in the Pulwama district, Jammu and Kashmir, India. The attack resulted in the deaths of 40 Central Reserve Police Force (CRPF)[a] personnel and the attacker. The responsibility for the attack was claimed by the Pakistan-based Islamist militant group Jaish-e-Mohammed. The attacker was Adil Ahmad Dar, a local from Indian-administered Kashmir, and a member of Jaish-e-Mohammed.[1][2][3] India blamed Pakistan for the attack. Pakistan condemned the attack and denied any connection to it.
          </div>

          <div>
          	<h3><a href="https://lifestyle-tech-experience.blogspot.com/2019/02/the-sad-reality.html">Background.....</a></h3>
          	<p><i>
          		Kashmir is a disputed territory, claimed both by India and Pakistan with both countries administering part of the territory.[5] Pakistan has sought to gain control of Indian-administered Kashmir.[6][7] An insurgency began to proliferate in Indian-administered Kashmir in the late 1980s, for which Pakistan provided material support.[8][9] Since 1989, about 70,000 people have been killed in the uprising and the Indian crackdown.[10][5] According to Time, unrest in Kashmir grew in 2016 after India killed a popular militant leader, Burhan Wani.[5] A rising number of young locals from Indian administered Kashmir have joined the militancy.[11][12] Many sources state that the majority of militants in Kashmir are now local, not foreign.[13][14][15] In 2018 alone, the death toll included 260 militants, 160 civilians and 150 government forces.[10]

Since 2015, Pakistan-based militants in Kashmir have increasingly taken to high-profile suicide attacks against the Indian security forces. In July 2015, three gunmen attacked a bus, and police station in Gurdaspur. Early in 2016, four to six gunmen attacked the Pathankot Air Force Station.[16] In February and June 2016, the militants killed nine and eight security personnel respectively in Pampore. In September 2016, four assailants attacked an Indian Army brigade headquarters in Uri killing 19 soldiers. On 31 December 2017, the Commando Training Centre at Lethpora was also attacked by militants killing five security personnel. These attacks took place in the vicinity of the Jammu Srinagar National Highway.
          	  </i>
            </p>
          </div> 
          {% for post in posts %}
        <div>
           <p>published: {{ post.published_date }}</p>
           <h2><a href="">{{ post.title }}</a></h2>
           <p>{{ post.text|linebreaksbr }}</p>
         </div>
         {% endfor %}
</body>
</html>
